/* section1 */
#section1 {
  position: relative;
  width: 100%;
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
}
#section1 .sect1Title {
  padding: 160px 0px 120px 800px;
  text-align: center;
  font-size: 50px;
}
#section1 .sect1Title .nikeLogo img {
  text-align: center;
  width: 350px;
}
#section1 .jordan1 {
  position: absolute; bottom: 10px; left: 10px;
  z-index: 9999;
}
#section1 .jordan1 img {
  width: 850px;
}
#section1 .effect {
  width: 900px;
  position: absolute; bottom: -5px; left: 50px;
}

.textBanner marquee {
  padding: 12px 0;
  font-size: 17px; font-weight: bold;
}


/* section2 */
#section2 {background-color: #000;}
#section2 .sect2Title {
  background-color: rgb(228, 48, 48);
  padding: 40px 50px;
  text-align: center;
  color: #fff;
  font-family: 'Tiro Bangla', serif;
  font-weight: bold;
}
#section2 .sect2Title h1 {font-size: 40px;}
#section2 .sect2Title h3 {font-size: 25px; padding-top: 10px;}
#section2 .sect2Title h3 i {padding: 0 15px;}

#section2 .stageBox {
  padding: 250px 0 0px;
  margin: 30px 20px;
  background-color: #000;
  background-image: url(../images/nike_logo2.png);
  /* background-repeat: no-repeat;
  background-position: center; */
  position: relative;
}
#section2 .stageBox .stage img {
  display: block;
  width: 500px; margin: 0 auto;
}
#section2 .stageBox .question {
  display: flex; justify-content: center;
}
#section2 .stageBox .question img {
  display: block;
  width: 300px;
  position: absolute; top: 40px;

  animation-name: bigger;
  animation-direction: alternate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
#section2 .stageBox .on {
  display: flex; justify-content: center;
}
#section2 .stageBox .on img {
  display: block;
  width: 550px;
  position: absolute; top: 40px;
}

@keyframes bigger {
  from {transform: scale(1.0);}
  to {transform: scale(1.1);}
}

#section2 .options {
  border-top: 4px solid #fff;
  margin: 0 30px;
  padding: 50px;
  display: flex; justify-content: center; align-items: center;
  flex-wrap: wrap;

}
#section2 .options .jordanShoes {
  flex: 1 1 30%;
  transition: all 0.3s;
  cursor: pointer;
}
#section2 .options .diol {padding: 40px;}
#section2 .options .unc {padding: 50px;}
#section2 .options .darkmocha {padding: 10px 20px 40px;}